/* 1 */

.car-logo {
    padding: 20px 0px;
    font-size: 20px;
}


/* 2 */

.cart-filter-bar {
    width: 75px;
    padding: 5px;
    font-size: 16px;
    font-weight: 700;
    color: #E2231A;
    border-bottom: 1px solid #E2231A;
}


/* 3 */

.cart-thead ul {
    display: flex;
    margin: 5px 0px 10px;
    background-color: #f3f3f3;
    line-height: 32px;
}

.cart-thead ul li {
    flex: 1;
    padding: 5px;
    font-size: 12px;
}

#checkall {
    vertical-align: middle;
}


/* 4 */

.cart-item-list {}

.cart-item {}

.text-middle {
    vertical-align: middle;
}

.shop-icon {
    display: inline-block;
    margin: 5px;
    width: 16px;
    height: 16px;
    background-image: url(../images/back.png);
    background-position: -20px -105px;
}


/*  */

.ma-L {
    margin-left: 5px;
}