/* content */

.mian {
    float: left;
    height: 455px;
    width: 220px;
}

.mian ul li {
    height: 30.34px;
    width: 220px;
    background-color: rgb(200, 22, 35);
    font-size: 14px;
    color: white;
}

.mian ul li::after {
    float: right;
    margin-right: 10px;
    content: '\e900';
    font-family: 'icomoon';
}

.mian ul li a {
    color: white;
}

.focus {
    float: left;
    height: 455px;
    width: 710px;
    margin-left: 10px;
    margin-top: 10px;
    overflow: hidden;
    /* background: url(../upload/focus1.png) no-repeat; */
}

.focus img {
    height: 445px;
}

.newsflash {
    float: left;
    height: 455px;
    width: 260px;
}

.news {
    height: 163px;
    width: 250px;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 10px;
}

.news-hd h3 {
    height: 32px;
    font-weight: 400;
    font-size: 14px;
    border-bottom: 1px dotted #ccc;
    padding-left: 15px;
    line-height: 32px;
}

.news-bd ul li {
    height: 23px;
    list-style: none;
    line-height: 22px;
}

.news-bd ul li a {
    text-decoration: none;
    color: #666;
    font-size: 12px;
}

.news-bd ul li a:hover {
    color: red;
}

.news-bd ul {
    margin-top: 7px;
    padding-left: 20px;
}

.lifeservice {
    height: 205px;
    margin-left: 10px;
    border: 1px solid #e4e4e4;
    border-top: 1px solid transparent;
}

.lifeservice ul li i {
    float: left;
    width: 24px;
    height: 28px;
    margin: 19px;
}

.i1 {
    background: url(../images/icons.png) no-repeat -19px -15px;
}

.i2 {
    background: url(../images/icons.png) no-repeat -80px -15px;
}

.i3 {
    background: url(../images/icons.png) no-repeat -141px -15px;
}

.i4 {
    background: url(../images/icons.png) no-repeat -205px -15px;
}

.i5 {
    background: url(../images/icons.png) no-repeat -80px -87px;
}

.i6 {
    background: url(../images/icons.png) no-repeat -19px -87px;
}

.i7 {
    background: url(../images/icons.png) no-repeat -141px -87px;
}

.i8 {
    background: url(../images/icons.png) no-repeat -205px -87px;
}

.i9 {
    background: url(../images/icons.png) no-repeat -19px -158px;
}

.i10 {
    background: url(../images/icons.png) no-repeat -79px -158px;
}

.i11 {
    background: url(../images/icons.png) no-repeat -141px -158px;
}

.i12 {
    background: url(../images/icons.png) no-repeat -205px -158px;
}

.bargain {
    margin-left: 10px;
}


/* recom */

.recom {
    margin-top: 3px;
    margin-bottom: 25px;
}

.recom_hd img {
    position: absolute;
    top: 40px;
    left: 70px;
}

.recom_hd {
    float: left;
    height: 163px;
    width: 208px;
    background-color: #5c5251;
}

.recom_bd ul li {
    float: left;
    width: 248px;
    height: 163px;
}

.recom_bd ul .a1 {
    position: absolute;
    top: 10px;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}

.recom_bd ul .a2 {
    position: absolute;
    top: 10px;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}

.recom_bd ul .a3 {
    position: absolute;
    top: 10px;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}

.box_hd {
    border-bottom: 2px solid rgb(200, 22, 35);
}

.box_hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: 400;
}

.box_hd .fr li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666;
    /*  */
    margin: 5px 15px 0;
}

.floor {
    border: 10px solid transparent;
}

.floor .box_bd {
    float: left;
    height: 360px;
}

.col_210 {
    float: left;
    width: 210px;
}

.col_329 {
    float: left;
    width: 329px;
}

.col_221 {
    float: left;
    width: 219px;
}

.col_219 {
    float: left;
    width: 220px;
}

.hb {
    background-color: rgb(249, 249, 249);
}

.hb ul li {
    float: left;
    height: 26px;
    width: 85px;
    margin: 10px;
    margin-bottom: 0px;
    border-bottom: 1px solid rgb(204, 204, 204);
    text-align: center;
}

.hb img {
    margin-left: 10px;
}

.img-md {
    border-left: 1px solid rgb(204, 204, 204);
}